*{
  box-sizing: border-box;
}
body{
  margin: 0;
  height: 100vh;
}
p{
  margin: 0;
  padding: 20px;
  background-color: rgb(192, 142, 175);
  text-align: center;
  font-size: 16px;
}
.pull-refresh{
  overflow: hidden;
}
/* 初始化 */
.pull-refresh-info{
  position: relative;
  background-color: #cccccc;
  transform:translateY(0px);
  transition-duration: 0.25s;
}
/* 浮在上面，把整体上移Y-100% */
.loading{
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    overflow: hidden;
    color: #969799;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.loading .loading-info,
.list-loading .loading-info{
    position: relative;
    color: #a8a8a8;
    font-size: 0;
    vertical-align: middle;
}
.loading-info .loading-animation{
  /* 添加一个不起眼的动画 */
  /*
  * @author：十点UI酱
  */
  content: url(./loading.png);
  width: 20px;
  height: 20px;
  vertical-align: middle;
  animation: turnPhoto 0.8s infinite ease-in-out;
}
@keyframes turnPhoto {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.loading-info .loading-text{
    display: inline-block;
    margin-left: 8px;
    color: #969799;
    font-size: 14px;
    vertical-align: middle;
}
.loading-text dot{
  display: inline-block;
  height: 1em;
  line-height: 1;
  overflow: hidden;
  margin-left: 5px;
  text-align: left; /*给一个从左到右的假象*/
}
.loading-text dot::before{
    content: "...\A..\A.";
    display: block;
    white-space: pre-wrap;
    animation: dotAnimation 1.5s infinite step-start both;
}
@keyframes dotAnimation {
  33%{
    transform: translateY(-2em);
  }
  66%{
    transform: translateY(-1em);
  }
}
.w-list{
  background-color: #ebeaea;
}
.w-list .list-loading{
  width: 100%;
  height: 50px;
  overflow: hidden;
  font-size: 14px;
  color: #a8a8a8;
  line-height: 50px;
  text-align: center;
}
.block{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(97, 100, 159);
  font-size: 18px;
  height: 200px;
  margin-bottom: 20px;
}